<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Logs du Cactus Virus</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="file/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Logs du virus</h1>
    <% for (var i = 0; i < logs.length ; i++) { %>
        <span> <%= logs[i] %> </span>
        <br>
    <% } %>
</body>
</html>
