html {
    height: 100%;
    font-family: Arial;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient(to bottom, #56ab2f, #a8e063);
}

h1 {
    font-size: 350%;
    text-align: center;
}

h2 {
    margin-top: -2vh;
}

button {
    margin-right: 0.5vw;
}

#menu-zone {
    width: 75vw;
    height: 65vh;
    padding: 5vh;
    margin: 0 auto;
    border-radius: 30px;
    background-color: white;
}

#form {
    visibility: hidden;
    margin-top: 5vh;
}